body {
	min-width: 360px;
}

.header__bottom {
	border-bottom: 1px solid rgb(245, 245, 245);
}

.header__top p a {
	color: rgb(255, 255, 255);
}

@media (max-width: 1025px) {
  .header__wrapper {
		column-gap: 5px;
	}
}
.crumbs ul li a::after {
	content: "";
	width: 0;
}

.d-none {
	display: none !important;
}

main h1 {
	background-color: transparent;
	box-shadow: none;
	text-align: left;
}

.cleaning .swiper-button-prev::before,
.cleaning .swiper-button-next::before,
.news .swiper-button-prev::before,
.news .swiper-button-next::before,
.main .swiper-button-prev::before,
.main .swiper-button-next::before {
  background: url("data:image/svg+xml,%3Csvg width='24.000000' height='24.000000' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip207_1400'%3E%3Crect id='arrow-right' width='24.000000' height='24.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Crect id='arrow-right' width='24.000000' height='24.000000' fill='%23FFFFFF' fill-opacity='0'/%3E%3Cg clip-path='url(%23clip207_1400)'%3E%3Cpath id='Vector' d='M5 12L19 12' stroke='%2399B35B' stroke-opacity='1.000000' stroke-width='2.000000' stroke-linejoin='round' stroke-linecap='round'/%3E%3Cpath id='Vector' d='M12 5L19 12L12 19' stroke='%2399B35B' stroke-opacity='1.000000' stroke-width='2.000000' stroke-linejoin='round' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E") center center/cover no-repeat;
}
.main__banner-new_year::before {
  background: url("/files/img_mainpage24/fir.svg") center center/cover no-repeat;
}
.popular__link::after {
  background: url("data:image/svg+xml,%3Csvg width='24.000000' height='24.000000' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3CclipPath id='clip207_1497'%3E%3Crect id='chevron-right' width='24.000000' height='24.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Crect id='chevron-right' width='24.000000' height='24.000000' fill='%23FFFFFF' fill-opacity='0'/%3E%3Cg clip-path='url(%23clip207_1497)'%3E%3Cpath id='Vector' d='M10 17L14 12.5L10 8' stroke='%2399B35B' stroke-opacity='1.000000' stroke-width='2.000000' stroke-linejoin='round' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E") center center/cover no-repeat;
}
.choose__item-green::before {
  background: url("data:image/svg+xml,%3Csvg fill='none' height='313.786987' viewBox='0 0 369.597 313.787' width='369.596924' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse fill='none' rx='167.885727' ry='77.249268' transform='matrix(-.839727 .839727 .543008 .543008 184.798 156.894)'/%3E%3Cellipse rx='167.885727' ry='77.249268' stroke='%23fff' stroke-dasharray='5 5' stroke-width='1.506588' transform='matrix(-.839727 .839727 .543008 .543008 184.798 156.894)'/%3E%3Crect fill='%23fff' height='40.142414' rx='20.071207' transform='matrix(.99815309 -.06074873 .06074873 .99815309 -8.631684 2.686855)' width='40.142414' x='39.872314' y='143.300537'/%3E%3Cpath d='m61.812 173.564c-.1772.011-.3589-.031-.5181-.128-8.7085-5.275-9.7158-10.866-10.1272-17.625-.0261-.428.2557-.815.6717-.921 4.4841-1.142 8.0342-3.994 8.0693-4.024.2974-.241.7161-.266 1.0403-.064.0386.025 3.9082 2.427 8.4978 3.017.426.055.7524.404.7786.832.4113 6.76.0893 12.431-7.9151 18.723-.1445.115-.3198.179-.4973.19zm-8.8122-17.137c.4201 6.116 1.4633 10.595 8.6914 15.152 6.6223-5.4 7.1147-9.972 6.7898-16.095-3.6744-.614-6.7393-2.171-7.9427-2.848-1.1133.818-3.967 2.734-7.5385 3.791z' fill='%23474747'/%3E%3Cpath d='m67.4744 156.295c-3.0191-.63-5.5699-1.823-6.8211-2.479-1.1633.803-3.6352 2.302-6.5554 3.293.3794 4.695 1.1519 9.008 7.4675 13.217 5.7588-4.944 6.1021-9.325 5.909-14.031zm-1.5928 3.615-4.1741 4.714c-.1806.203-.4258.315-.6775.331-.2495.015-.5039-.064-.7065-.241l-2.7373-2.377c-.4109-.357-.4553-.978-.0979-1.389.3567-.411.9792-.455 1.3904-.098l1.9997 1.736 3.5264-3.983c.3611-.408.9841-.446 1.3921-.085.4074.36.4455.984.0847 1.392z' fill='%23474747'/%3E%3Crect fill='%23fff' height='51.999943' rx='25.999971' transform='matrix(.99994915 -.01008455 .01008455 .99994915 -2.348213 1.07954)' width='51.999943' x='105.87207' y='233.386353'/%3E%3Cpath d='m148.167 253.5c-.031-.158-.165-.27-.327-.275-3.537-.073-8.423.847-11.37 3.07-1.791 1.353-2.933 3.342-3.053 5.322-.1 1.631.472 3.222 1.663 4.654-.125.314-.241.63-.348.949-.772-1.35-1.638-2.644-2.573-3.851.868-2.52.763-4.888-.312-6.876-.607-1.125-1.496-2.092-2.64-2.873-1.047-.713-2.276-1.239-3.556-1.518-2.06-.45-4.611-.41-7.377.118-2.42.463-4.92 1.284-7.039 2.311-.147.072-.224.233-.184.391.041.16.182.268.348.262 2.155-.022 4.668 2.073 6.116 3.891.49.615.922 1.271 1.339 1.905.863 1.31 1.755 2.666 3.17 3.63 1.215.828 2.671 1.249 4.247 1.233.239-.002.479-.016.722-.037 1.479-.136 2.985-.649 4.307-1.459 1.369 1.803 2.585 3.804 3.547 5.892l1.167-.532c-.135-.293-.275-.586-.42-.876.144-.562.317-1.119.518-1.667.497.085 1.002.125 1.505.12.89-.009 1.769-.158 2.575-.442 1.423-.501 2.547-1.387 3.25-2.562.711-1.187.903-2.48 1.089-3.731.089-.6.182-1.221.33-1.832.442-1.814 1.519-4.171 3.103-4.84.151-.064.233-.218.203-.377zm-17.171 9.578c-.169.118-.343.231-.522.339-2.318-2.924-4.727-5.042-7.389-6.318 0 0 5.772 2.299 8.163 5.244-.074.244-.158.489-.252.735zm5.689 2.963c-.054-.008-.107-.017-.16-.026-.308-.303-.583-.614-.826-.933.843-1.909 4.324-5.472 4.324-5.472-1.459 1.613-2.539 4.479-3.338 6.431z' fill='%23474747'/%3E%3Crect fill='%23fff' height='26.999971' rx='13.499986' transform='matrix(.01044386 .99994546 -.99994546 .01044386 248.714955 -135.602084)' width='26.999971' x='192.870361' y='57.862061'/%3E%3Cpath d='m175.95 80.5212c-4.096-2.4825-4.099-9.1955-.004-11.681l5.235-.0019c4.097 2.4826 4.1 9.1955.005 11.681zm-.879-14.9707c0-.537 0-1.007 0-1.477 0-.402.335-.6041.671-.6042l7.788-.0028c.268-.0001.604.2018.671.5367l.47-.0001c.067 0 .202.0669.202.2019v.939c0 .135-.135.269-.202.2691l-.47.0001c0 .5371-.469 1.0072-1.073 1.0744l.537 1.6108c.202.537-.671.8063-.805.2693l-.672-1.8797-1.812.0006v1.41c0 .134-.134.2011-.269.2011l-3.088.0011c-.134.0001-.201-.0669-.201-.2009v-1.41l-.672.0003c-.47.0001-1.074-.4697-1.075-.9397zm9.13-.6073h.202v-.537h-.202zm-8.056-1.6081c-.269.0002-.269-.4699-.001-.4699l6.915-.0025c.336-.0002.337.4698.001.4699z' fill='%23474747'/%3E%3C/svg%3E") center center/cover no-repeat;
}
.news__link::after {
  background: url("data:image/svg+xml,%3Csvg width='24.000000' height='24.000000' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3CclipPath id='clip207_1497'%3E%3Crect id='chevron-right' width='24.000000' height='24.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Crect id='chevron-right' width='24.000000' height='24.000000' fill='%23FFFFFF' fill-opacity='0'/%3E%3Cg clip-path='url(%23clip207_1497)'%3E%3Cpath id='Vector' d='M10 17L14 12.5L10 8' stroke='%2399B35B' stroke-opacity='1.000000' stroke-width='2.000000' stroke-linejoin='round' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E") center center/cover no-repeat;
}
.news__icon::before {
  background: url("data:image/svg+xml,%3Csvg width='24.000000' height='24.000000' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip207_1400'%3E%3Crect id='arrow-right' width='24.000000' height='24.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Crect id='arrow-right' width='24.000000' height='24.000000' fill='%23FFFFFF' fill-opacity='0'/%3E%3Cg clip-path='url(%23clip207_1400)'%3E%3Cpath id='Vector' d='M5 12L19 12' stroke='%2399B35B' stroke-opacity='1.000000' stroke-width='2.000000' stroke-linejoin='round' stroke-linecap='round'/%3E%3Cpath id='Vector' d='M12 5L19 12L12 19' stroke='%2399B35B' stroke-opacity='1.000000' stroke-width='2.000000' stroke-linejoin='round' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E") center center/cover no-repeat;
}
.header__search-icon::before {
  background: url("data:image/svg+xml,%3Csvg fill='none' height='16' viewBox='0 0 16 16' width='16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3CclipPath id='a'%3E%3Cpath d='m0 0h16v16h-16z'/%3E%3C/clipPath%3E%3Cpath d='m0 0h16v16h-16z' fill='none'/%3E%3Cg clip-path='url(%23a)' fill='%23474747'%3E%3Cpath d='m7.04608 0c-3.88513 0-7.04608 3.16098-7.04608 7.04605 0 3.88535 3.16095 7.04605 7.04608 7.04605 3.88532 0 7.04602-3.1607 7.04602-7.04605 0-3.88507-3.1607-7.04605-7.04602-7.04605zm0 12.7914c-3.16791 0-5.74524-2.5774-5.74524-5.74532 0-3.16791 2.57733-5.74527 5.74524-5.74527 3.16792 0 5.74522 2.57733 5.74522 5.74524 0 3.16795-2.5773 5.74535-5.74522 5.74535z'/%3E%3Cpath d='m15.808 14.8883-3.729-3.729c-.2541-.2541-.6656-.2541-.9197 0-.2541.2539-.2541.6658 0 .9197l3.729 3.729c.1271.127.2933.1906.4598.1906.1664 0 .3329-.0636.4599-.1906.2541-.2539.2541-.6658 0-.9197z'/%3E%3C/g%3E%3C/svg%3E") center center/cover no-repeat;
}
.header__time::before {
  background: url("/files/img_mainpage24/time.svg") center center/cover no-repeat;
}
.header__mail {
  color: rgb(71, 71, 71);
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
}
.header__mail::before {
  background: url("/files/img_mainpage24/mail.svg") center center/cover no-repeat;
}
.header__phone {
  color: rgb(71, 71, 71);
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
}
.header__phone::before {
  background: url("/files/img_mainpage24/phone.svg") center center/cover no-repeat;
}
@media (max-width: 1200px) {
  .header__menu-mobile .accordion .nav__link-mob::after {
    background: url("data:image/svg+xml,%3Csvg width='24.000000' height='24.000000' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3CclipPath id='clip207_1497'%3E%3Crect id='chevron-right' width='24.000000' height='24.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Crect id='chevron-right' width='24.000000' height='24.000000' fill='%23FFFFFF' fill-opacity='0'/%3E%3Cg clip-path='url(%23clip207_1497)'%3E%3Cpath id='Vector' d='M10 17L14 12.5L10 8' stroke='%2399B35B' stroke-opacity='1.000000' stroke-width='2.000000' stroke-linejoin='round' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E") center center/cover no-repeat;
	}
  .header__search-button::before {
    background: url("/files/img_mainpage24/search.svg") center center/cover no-repeat;
	}
}






#contacts .form__body .form__item {
	background-color: #fff;
}

@media (max-width: 550px) {
	#contacts .form__body {
		flex-direction: column;
	}
}

/* CART */

.cart button {
	border: 0;
	background-color: transparent;
	border-radius: 0;
	cursor: pointer;
	appearance: none;
}

/* /CART */



